<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zb.mrseo">



    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MrSeo"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.EditContentActivity"
            android:label="@string/title_activity_edit_content">

        </activity>


        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.ShopDetailsActivity" />
        <activity android:name=".SupportActivity" />
        <activity android:name=".activity.AddContentsActivity" />
        <activity android:name=".activity.ProductActivity" />
        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgotPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>